/******************************************************************
Site Name: White Stripes UI Kit
Author: Aurel Luciu
******************************************************************/
/* VARIABLES ============================================================================= */
/* ======================================================================================= */
/* TYPOGRAPHY ============================================================================ */
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
/* entypo */
/* line 32, ../sass/style.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
/* line 37, ../sass/style.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

@font-face {
  font-family: 'nerislight';
  src: url("../fonts/neris-light-webfont.eot");
  src: url("../fonts/neris-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/neris-light-webfont.woff") format("woff"), url("../fonts/neris-light-webfont.ttf") format("truetype"), url("../fonts/neris-light-webfont.svg#nerislight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nerissemibold';
  src: url("../fonts/neris-semibold-webfont.eot");
  src: url("../fonts/neris-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/neris-semibold-webfont.woff") format("woff"), url("../fonts/neris-semibold-webfont.ttf") format("truetype"), url("../fonts/neris-semibold-webfont.svg#nerissemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ======================================================================================= */
/* OVERWRITE FOUNDATION ================================================================== */
/* line 69, ../sass/style.scss */
body {
  font-family: "nerislight", Geneva, Tahoma, Verdana, sans-serif;
  background: #3698b2;
  color: #fff;
}

/* line 75, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: normal;
  font-family: "nerissemibold", Geneva, Tahoma, Verdana, sans-serif;
}

/* line 81, ../sass/style.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: transparent;
  border: 2px solid #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
}

/* line 103, ../sass/style.scss */
label {
  color: #fff;
}

/* line 107, ../sass/style.scss */
button,
.button {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  color: #11616f;
  font-family: "nerislight", Geneva, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
}

/* line 116, ../sass/style.scss */
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #fff;
  color: #11616f;
}

/* line 124, ../sass/style.scss */
.label {
  font-family: 'nerislight';
  font-size: 15px;
  background-color: #fff;
  color: #11616f;
  padding: 0.7em 0.5em;
  margin-bottom: 0.2em;
}

/* line 134, ../sass/style.scss */
.tabs dd,
.tabs .tab-title {
  margin-right: 1.2rem;
}

/* line 138, ../sass/style.scss */
.tabs dd > a,
.tabs .tab-title > a {
  padding: 0.2rem 0;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
}

/* line 145, ../sass/style.scss */
.tabs dd.active > a,
.tabs .tab-title.active > a {
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;
}

/* line 151, ../sass/style.scss */
.tabs dd > a:hover,
.tabs .tab-title > a:hover {
  background-color: transparent;
}

/* ======================================================================================= */
/* ======================================================================================= */
/* line 160, ../sass/style.scss */
input[type="checkbox"] {
  display: none;
}

/* line 164, ../sass/style.scss */
input[type="checkbox"] + label {
  margin: 0;
}
/* line 167, ../sass/style.scss */
input[type="checkbox"] + label:before {
  content: "\f096";
  font-family: 'FontAwesome', sans-serif;
  margin-right: 0.2em;
}

/* line 172, ../sass/style.scss */
input[type="checkbox"]:checked + label:before {
  content: "\f046";
}

/* ======================================================================================= */
/* ======================================================================================= */
/* line 179, ../sass/style.scss */
h1.logo {
  text-transform: uppercase;
  text-decoration: line-through;
  text-align: center;
}

/* line 185, ../sass/style.scss */
.boxed {
  border: 4px solid #fff;
  padding: 21px;
  margin-bottom: 2em;
}

/* ======================================================================================= */
/* MODULES =============================================================================== */
/* line 193, ../sass/style.scss */
.ws-weather {
  border: 4px solid #fff;
  margin-bottom: 2em;
}
/* line 197, ../sass/style.scss */
.ws-weather .current {
  padding: 20px 0 10px;
}
/* line 200, ../sass/style.scss */
.ws-weather .current .climacon {
  display: block;
  text-align: center;
  font-size: 5em;
  line-height: 0.7em;
}
/* line 201, ../sass/style.scss */
.ws-weather .current .day,
.ws-weather .current .location {
  display: block;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: "nerislight", Geneva, Tahoma, Verdana, sans-serif;
}
/* line 203, ../sass/style.scss */
.ws-weather .current .temp {
  display: block;
  font-size: 2.4em;
  line-height: 1.2em;
}
/* line 206, ../sass/style.scss */
.ws-weather .next {
  background: #fff;
  padding: 10px 0;
  color: #11616f;
}
/* line 211, ../sass/style.scss */
.ws-weather .next .climacon {
  display: block;
  text-align: center;
  font-size: 2em;
}
/* line 212, ../sass/style.scss */
.ws-weather .next .day {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "nerissemibold", Geneva, Tahoma, Verdana, sans-serif;
}

/* line 216, ../sass/style.scss */
.ws-tags {
  margin-bottom: 2em;
}

/* line 222, ../sass/style.scss */
.ws-signin .avatar {
  border: 4px solid #fff;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
  width: 118px;
  height: 118px;
  margin: 0 auto 20px;
  display: block;
}
/* line 230, ../sass/style.scss */
.ws-signin label {
  position: relative;
}
/* line 234, ../sass/style.scss */
.ws-signin label.username:after {
  content: "\f007";
  font-family: 'FontAwesome';
  position: absolute;
  top: 9px;
  right: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
/* line 244, ../sass/style.scss */
.ws-signin label.password:after {
  content: "\f084";
  font-family: 'FontAwesome';
  position: absolute;
  top: 9px;
  right: 13px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
/* line 253, ../sass/style.scss */
.ws-signin .signin-links {
  font-size: 13px;
}
/* line 256, ../sass/style.scss */
.ws-signin .signin-links a {
  color: #fff;
}
/* line 261, ../sass/style.scss */
.ws-signin .social-signin {
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
}
/* line 266, ../sass/style.scss */
.ws-signin .social-signin p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}
/* line 271, ../sass/style.scss */
.ws-signin .social-signin ul {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 277, ../sass/style.scss */
.ws-signin .social-signin ul li {
  display: inline-block;
  margin: 0 8px;
}
/* line 281, ../sass/style.scss */
.ws-signin .social-signin ul li a {
  border: 2px #fff solid;
  display: block;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 10px;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
  border-radius: 50em;
}
/* line 292, ../sass/style.scss */
.ws-signin .social-signin ul li a span {
  display: none;
}
/* line 294, ../sass/style.scss */
.ws-signin .social-signin ul li a:hover {
  background: #fff;
  color: #11616f;
}

/* line 301, ../sass/style.scss */
.ws-comment h3 {
  font-size: 1.4em;
  text-transform: uppercase;
}
/* line 302, ../sass/style.scss */
.ws-comment textarea {
  height: 100px;
  resize: none;
}
/* line 303, ../sass/style.scss */
.ws-comment button {
  margin-bottom: 0;
}

/* line 306, ../sass/style.scss */
ul.ws-pagination {
  text-align: center;
}
/* line 311, ../sass/style.scss */
ul.ws-pagination li {
  display: inline-block;
  float: none;
  color: #fff;
  font-size: 12px;
}
/* line 317, ../sass/style.scss */
ul.ws-pagination li.arrow.unavailable {
  display: none;
}
/* line 321, ../sass/style.scss */
ul.ws-pagination li a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0;
}
/* line 326, ../sass/style.scss */
ul.ws-pagination li.unavailable a {
  border: none;
  color: #fff;
}
/* line 330, ../sass/style.scss */
ul.ws-pagination li.current a {
  background-color: rgba(255, 255, 255, 0.5);
  color: #11616f;
}
/* line 334, ../sass/style.scss */
ul.ws-pagination li.current a:hover, ul.ws-pagination li.current a:focus {
  background-color: #fff;
}
/* line 339, ../sass/style.scss */
ul.ws-pagination li:hover a,
ul.ws-pagination li a:focus {
  background-color: #fff;
  color: #11616f;
}

/* line 347, ../sass/style.scss */
.article-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 352, ../sass/style.scss */
.article-list li {
  border-bottom: 1px solid #35393f;
}

/* ======================================================================================= */
/* ======================================================================================= */
